<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="page-apply">

  <header class="site-header">
    <div class="site-logo"><h1>Welcome to Daemon Decoders Talent Management Portal Project</h1></div>

    <div class="row column medium-8 large-6 xlarge-5 xxlarge-4">
      <h3 class="title">We Are DAEMON DECODERS ! We’re seeking a technical dream team to build the future of our Employees where every person's limit is sky!</h3>
<p>Interested candidates can begin with loging in and strat applying for their suitable project</p>
    </div>

    <nav class="site-nav">
      <ul>
        <li><button type="button" class="btn-menu"><span><a href='https://localhost.auth.us-west-1.amazoncognito.com/login?client_id=4nn6fqe1ln9hck84f3q85hpc1v&response_type=code&scope=email+openid&redirect_uri=http://localhost:8000/templates/Main.html'>LOGIN</a></span></button></li>
      </ul>
    </nav>
   </header>

  <footer class="site-footer">
    <div class="row column">
      <nav class="footer-nav">
        <ul>
          <li><a href="faq.html">FAQ</a></li>
        </ul>
      </nav>
    </div>

    <div class="row column">
      <div class="footer-legal">
        &copy;DaemonDecoders Inc<br>
        All Rights Reserved
      </div>
    </div>
  </footer>

  <script src="js/main.js"></script>
</body>
</html>
<!--
4nn6fqe1ln9hck84f3q85hpc1v
-->